{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/svg"
      href="{% static 'images/sushi.svg' %}"
      alt="sushi logo"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <script
      defer
      src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
    ></script>
    {% block head %} {% endblock %}
    <title>Sushi Collector</title>
  </head>
  <body>
    <header>
      <div class="header-logo-container">
        <a href="{% url 'home'%}">
          <lottie-player
            src="https://assets5.lottiefiles.com/packages/lf20_8Cmt76.json"
            background="transparent"
            speed="1"
            style="width: 100px; height: 100px"
            hover
            loop
            alt="red chopstick animation"
          ></lottie-player>
        </a>
        <h1>Sushi!</h1>
      </div>
      <nav>
        <ul>
        {% if user.is_authenticated %}
            <li><a href="{% url 'sushi_index' %}">Sushi Menu</a></li>
            <li><a href="{% url 'sides_index' %}">Side Dish Menu</a></li>
            <li><a href="{% url 'sushi_create' %}">Add A Sushi Roll</a></li>
            <li><a href="{% url 'sides_create' %}">Add a Side Dish</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'logout' %}">Log out</a></li>
          {% else %}
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'home' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
          {% endif %}
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
