{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/sushi-detail.css' %}"
/>
{% endblock %} {% block content %}

<section class="sushi-container">
  <div class="sushi-img">
    <img src="{% static 'images/sushi.svg' %}" alt="sushi logo icon" />
  </div>
  <div class="sushi-details">
    <h1>{{ sushi.name }}</h1>
    {% if sushi.isVegan %}
    <p style="color: green; font-weight: bold">Vegan*</p>
    {%endif%} {% if sushi.isVegetarian %}
    <p style="color: green; font-weight: bold">Vegetarian*</p>
    {%endif%}
    <p>Description: {{ sushi.description }}</p>
    <p>Price: $ {{ sushi.price }}</p>

    <div class="sushi-actions">
      <a href="{% url 'sushi_update' sushi.id %}" class="btn warn">Edit</a>
      <a href="{% url 'sushi_delete' sushi.id %}" class="btn danger">Delete</a>
    </div>
  </div>
  <section class="sides">
    <div class="subsection-title">
      <h2>Additional Sides</h2>
    </div>
      <h3>Add Your Favorite Side Dish to go along with this sushi!</h3>
    <div class="subsection-content">
      {% if sushi.sides.count %}
        {% for side in sushi.sides.all %}
          <div class="side-container">
            <div 
              class="color-block"
              style="background-color: {{ side.color }}"
            ></div>
            <a href="{% url 'sides_detail' side.id %}">
              <p>{{ side.name }}</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-sides">No additional sides added at this time </p>
      {% endif %}
    </div>
    <h3>Available Sides</h3>
    <div class="subsection-content">
      {% comment %} We'll display available sides here {% endcomment %}
      {% if sides.count %}
        {% for side in sides.all %}
          <div class="side-container">
            <div 
              class="color-block"
            >
            <lottie-player
            src="https://assets5.lottiefiles.com/packages/lf20_8Cmt76.json"
            background="transparent"
            speed="1"
            style="width: 50px; height: 50px"
            alt="red chopsticks"
          ></lottie-player>
            </div>
            <a href="{% url 'sides_detail' side.id %}">
              <p>{{ side.name }}</p>
            </a>
            <form action="{% url 'add_side' sushi.id side.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Add side</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="all-sides">
          You have added all the available sides!  
        </p>
      {% endif %}
    </div>
  </section>
</div>
</section>

{% endblock %}
