{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/sushi-index.css' %}"
/>
{% endblock %} {% block content %}

<section class="page-header">
  <h1>Sushi Menu</h1>
</section>

<section class="card-container">
  {% for sushi in rolls %}
  <div class="card">
    {% comment %} <a href="{% url 'sushi_detail' sushi.id %}"> {% endcomment %}
      <div class="card-content">
        <div class="card-img-container">
          <img
            src="{% static 'images/sushi.svg' %}"
            alt="sushi logo icon"
          />
        </div>
        <h2 class="card-title">{{ sushi.name }}</h2>
      
       <p>{{ sushi.type }}</p>

        <p>{{ sushi.description }}</p>

        <p>Price: $ {{ sushi.price }}</p>
      </div>
    {% comment %} </a> {% endcomment %}
  </div>
  {% endfor %}
</section>

{% endblock %}