{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/sushi-index.css' %}"
/>
{% endblock %} {% block content %}

<section class="page-header">
  <h1>Sushi List</h1>
  <img src="{% static 'images/sardine-sushi.svg' %}" alt="sardine sushi" />
  <img src="{% static 'images/salmon-roe-sushi.svg' %}" alt="salmon-roe-sushi" />
  <img src="{% static 'images/tuna-plate.svg' %}" alt="A plate of tuna sushi" />
  {% comment %} <img src="{% static 'images/sushi-in-box.svg' %}" alt="A sushi in a box" /> {% endcomment %}
</section>

<section class="card-container">
  {% for sushi in sushi_list %}
  <div class="card">
    {% comment %} <a href="{% url 'sushi_detail' sushi.id %}"> {% endcomment %}
      <div class="card-content">
        <div class="card-img-container">
          <img
            src="{% static 'images/sushi-logo-icon.svg' %}"
            alt="sushi logo icon"
          />
        </div>
        <h2 class="card-title">{{ sushi.name }}</h2>
      
       <p><small>{{ sushi.type }}</small></p>

        <p><small>{{ sushi.description }}</small></p>

        <p>Price: $ <small>{{ sushi.price }}</small></p>
      </div>
    {% comment %} </a> {% endcomment %}
  </div>
  {% endfor %}
</section>

{% endblock %}