{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/sushi-index.css' %}"
/>
{% endblock %} {% block content %}

<section class="page-header">
  <h1>Sushi Menu</h1>
</section>

<section class="card-container">
  {% for sushi in rolls %}
  <div class="card">
    <a href="{% url 'sushi_detail' sushi.id %}">
      <div class="card-content">
        <div class="card-img-container">
          <img src="{% static 'images/sushi.svg' %}" alt="sushi logo icon" />
        </div>
        <h2 class="card-title">{{ sushi.name }}</h2>
        {% if sushi.isVegan %} <p style="color: green; font-weight: bold">Vegan*</p> {%endif%} 
        {% if sushi.isVegetarian %} <p style="color: green; font-weight: bold">Vegetarian*</p> {%endif%} 
       {% comment %}  {% if sushi.isVegan %}
        <p style="color: green; font-weight: bold">Vegan*</p>
        {% else %}
        <p></p>
        {% endif %} {% if sushi.isVegetarian %}
        <p style="color: green">Vegetarian*</p>
        {% else %}
        <p></p>
        {% endif %} {% endcomment %}
        <p>{{ sushi.description }}</p>
        <p>Price: $ {{ sushi.price }}</p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>
{% endblock %}
